.section.image-carousel-container {
    padding: 0;
}

/* carousel wrapper stretches over complete width */
.section div.image-carousel-wrapper {
    margin-bottom: 32px;
    max-width: unset;
}

.image-carousel .carousel-slides-container {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.image-carousel .carousel-slides,
.image-carousel .carousel-slide-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.image-carousel .carousel-slides {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: scroll clip;
}

.image-carousel .carousel-slides::-webkit-scrollbar {
    display: none;
}

.image-carousel .carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: min(40rem, calc(100svh - var(--nav-height)));
}

.image-carousel .carousel-slide:has(.carousel-slide-content[data-align='center']) {
    align-items: center;
}

.image-carousel .carousel-slide:has(.carousel-slide-content[data-align='right']) {
    align-items: flex-end;
}

.image-carousel .carousel-slide .carousel-slide-image picture {
    position: absolute;
    inset: 0;
}

.image-carousel .carousel-slide .carousel-slide-image picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-carousel .carousel-slide .carousel-slide-image video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-carousel .carousel-slide .carousel-slide-content {
    z-index: 1;
    left: 5%;
    padding: 1rem;
    margin: 1.5rem 3rem;
    color: white;
    background-color: rgba(0 0 0 / 0%);
    position: relative;
    width: 30%;
    text-align: left;
}

.image-carousel .carousel-slide .carousel-slide-content .carousel-pre-title {
    text-transform: uppercase;
}

.image-carousel .carousel-slide .carousel-slide-content .carousel-title {
    color: white;
}

.image-carousel .carousel-slide .carousel-slide-content .carousel-description {
    color: white;
}

.image-carousel .carousel-slide-indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.image-carousel .carousel-slide-indicator .dark-color {
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    outline: 0.2rem solid white;
    background-color: var(--section-bg-color);
}

.image-carousel .carousel-slide-indicator .light-color {
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    outline: 0.2rem solid black;
    background-color: var(--section-bg-color);
}

.image-carousel .carousel-slide-indicator .light-color:disabled,
.image-carousel .carousel-slide-indicator .light-color:hover,
.image-carousel .carousel-slide-indicator .light-color:focus-visible {
    background-color: black;
    outline: 0.2rem solid black;
    cursor: pointer;
}

.image-carousel .carousel-slide-indicator .dark-color:disabled,
.image-carousel .carousel-slide-indicator .dark-color:hover,
.image-carousel .carousel-slide-indicator .dark-color:focus-visible {
    background-color: white;
    outline: 0.2rem solid white;
    cursor: pointer;
}

.image-carousel .carousel-slide-indicator span,
.image-carousel .carousel-navigation-buttons span {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.image-carousel .carousel-navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.image-carousel .carousel-navigation-buttons button.slide-prev {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 5rem;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.image-carousel .carousel-navigation-buttons button.slide-next {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 5rem;
    position: relative;
    background-color: white;
    float: right;
    cursor: pointer;
}

.image-carousel .carousel-navigation-buttons button:hover,
.image-carousel .carousel-navigation-buttons button:focus-visible {
    background-color: rgba(200 200 200 / 100%);
    cursor: pointer;
}

.image-carousel .carousel-navigation-buttons button::after {
    display: block;
    content: '';
    border: 3px black solid;
    border-bottom: 0;
    border-left: 0;
    height: 0.75rem;
    width: 0.75rem;
    position: absolute;
    top: 50%;
    left: calc(50% + 3px);
    transform: translate(-50%, -50%) rotate(-135deg);
}

.image-carousel .carousel-navigation-buttons button.slide-next::after {
    transform: translate(-50%, -50%) rotate(45deg);
    left: calc(50% - 3px);
}

.image-carousel .carousel-navigation-buttons .is-hidden {
    visibility: hidden;
}

@media (width >= 600px) {
    .image-carousel .carousel-navigation-buttons {
        left: 1rem;
        right: 1rem;
    }

    .image-carousel .carousel-navigation-buttons button {
        width: 5rem;
        height: 5rem;
        z-index: 1000;
    }

    .image-carousel .carousel-navigation-buttons button::after {
        width: 1rem;
        height: 1rem;
    }

    .image-carousel .carousel-slide .carousel-slide-content {
        --slide-content-width: 50%;

        margin: 2.5rem 5rem;
    }

    .image-carousel .carousel-slide .carousel-slide-content[data-align='justify'] {
        --slide-content-width: auto;
    }

    .image-carousel .carousel-slide-indicator {
        display: none;
    }

    main .full-width {
        padding: 0;
        text-align: center;
        max-width: unset;
    }
}

@media (width < 600px) {
    .image-carousel .carousel-navigation-buttons {
        display: none;
    }

    .image-carousel .carousel-slide .carousel-slide-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 2%;
        padding: 0.1rem;
        margin: 1.5rem 0.5rem;
        color: white;
        width: 75%;
    }
}

/* remaining issues: 
     1) Images are cropped in smaller screen size
     2) dots color in dark and whiote background
  */
